body
{
    margin: 0;
    background-color: #fefdf8;
    text-align: center;
    color: #000;
    font-family: 'Sarabun', sans-serif;
}

.header
{
    padding: 10px;
    font-family: 'Sarabun', sans-serif;
    min-height: 50px;
    border-bottom: 0px solid #ececec;
    background-color: #e0012c;
}

nav 
{
    justify-content: center;
    display: flex;
    align-items: center; 
}

nav a 
{
    padding: 8px 30px 8px;
    margin: 3px 18px 0;
    color: #fff;
    letter-spacing: 0.06em;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
}

.logo-image
{
    margin-top: 2%;
    width: 35%;
}

h1
{
    color: #e0012c;
}

iframe
{
    width: 95%;
    height: 1000px;
    margin-bottom: 4%
}

.footer
{
    font-family: 'Sarabun', sans-serif;
    padding: 1%;
    font-size: 13px;
    text-align: center;
    color: #fff;
    background-color: #e0012c;
}



